# Python
__pycache__/
*.py[cod]

# Virtual Environments (in subfolders)
.venv/
venv/
ENV/

# Project specific
.pytest_cache/
.vscode/
.idea/
db.sqlite3
GEMINI.md

# Frontend
frontend/dist/
frontend/node_modules/
frontend/.vite/
